google-cloud-storage==2.18.2
networkx==3.2.1
tensorboardX==2.6.2.2
ua-parser==0.18.0
albumentations==1.4.21
importlib_metadata==8.4.0
exceptiongroup==1.2.2
tornado==6.4.1
cloudpickle==3.1.0
contourpy==1.3.0
requests==2.32.3
humansignal-drf-yasg==1.21.9
torchsummary==1.5.1
cachetools==5.5.0
pybgs==3.3.0.post2
isodate==0.7.2
semver==3.0.2
boto3==1.35.40
regex==2024.9.11
pydantic==2.9.2
termcolor==2.5.0
jupyter_client==8.6.3
django-user-agents==0.4.0
wheel==0.40.0
label-studio-sdk==1.0.5
nest-asyncio==1.6.0
fsspec==2024.2.0
proto-plus==1.24.0
pyasn1_modules==0.4.1
inflection==0.5.1
jupyter_core==5.7.2
google-crc32c==1.6.0
django-csp==3.7
imageio==2.35.1
ipykernel==6.29.5
GitPython==3.1.43
asttokens==2.4.1
pyzmq==26.2.0
scikit-learn==1.5.2
traitlets==5.14.3
django-cors-headers==3.6.0
azure-core==1.31.0
docker-pycreds==0.4.0
packaging==24.1
httpcore==1.0.6
jedi==0.19.1
grpc-google-iam-v1==0.13.1
prompt_toolkit==3.0.47
protobuf==5.28.2
google-resumable-media==2.7.2
sniffio==1.3.1
django-annoying==0.10.6
wcwidth==0.2.13
nvidia-cublas-cu12==12.4.2.65
bleach==5.0.1
pathspec==0.12.1
tokenizers==0.19.1
Jinja2==3.1.3
huggingface-hub==0.25.0
eval_type_backport==0.2.0
simsimd==6.0.5
transformations==2024.5.24
nvidia-cudnn-cu12==9.1.0.70
grpcio==1.66.2
gitdb==4.0.11
django-filter==2.4.0
scipy==1.14.1
threadpoolctl==3.5.0
googleapis-common-protos==1.65.0
tabulate==0.9.0
pandas==2.2.3
stringzilla==3.10.10
antlr4-python3-runtime==4.9.3
ujson==5.10.0
expiringdict==1.2.2
google-cloud-logging==3.11.2
comm==0.2.2
ordered-set==4.0.2
user-agents==2.2.0
attr==0.3.1
boxing==0.1.4
requests-mock==1.12.1
google-api-python-client==2.153.0
jiter==0.5.0
executing==2.1.0
asgiref==3.8.1
decorator==5.1.1
positional-encodings==6.0.3
drf-flex-fields==0.9.5
typing_extensions==4.12.2
django-extensions==3.1.0
joblib==1.4.2
launchdarkly-server-sdk==8.2.1
anyio==4.6.0
supervision==0.23.0
tzdata==2024.2
google-generativeai==0.8.3
rsa==4.7.2
tifffile==2024.9.20
awscli==1.36.14
pydantic_core==2.23.4
nvidia-nvtx-cu12==12.4.99
psycopg2-binary==2.9.9
albucore==0.0.20
Deprecated==1.2.14
thop==0.1.1-2209072238
platformdirs==4.3.6
htmlmin==0.1.12
python-dotenv==1.0.1
django-environ==0.10.0
sentencepiece==0.2.0
redis==3.5.3
nvidia-cusolver-cu12==11.6.0.99
clip==1.0
attrs==24.2.0
django-ranged-fileresponse==0.1.2
Werkzeug==3.0.4
nvidia-curand-cu12==10.3.5.119
ftfy==6.3.0
xmljson==0.2.1
timm==1.0.9
PyYAML==6.0.2
portalocker==2.10.1
label-studio==1.13.1
google-auth==2.35.0
boto==2.49.0
opencv-contrib-python==4.10.0.84
torchinfo==1.8.0
django-storages==1.12.3
tqdm==4.66.5
openai==1.52.2
pycocotools==2.0.8
sqlparse==0.5.1
python-json-logger==2.0.4
django-model-utils==4.1.1
fasttext==0.9.3
kiwisolver==1.4.7
Cython==3.0.11
setuptools==75.1.0
google-ai-generativelanguage==0.6.10
ijson==3.3.0
charset-normalizer==3.4.0
django-debug-toolbar==3.2.1
numpy==1.26.4
lazy_loader==0.4
tensorboard==2.18.0
dataclasses==0.6
Django==3.2.25
black==24.10.0
wandb==0.18.1
google-cloud-appengine-logging==1.4.5
defusedxml==0.7.1
yacs==0.1.8
MarkupSafe==3.0.1
opencv-python-headless==4.10.0.84
nvidia-cusparse-cu12==12.3.0.142
fvcore==0.1.5.post20221221
absl-py==2.1.0
drf-dynamic-fields==0.3.0
torch==2.4.1+cu124
nvidia-cuda-nvrtc-cu12==12.4.99
cmake==3.31.1
nvidia-nccl-cu12==2.20.5
wrapt==1.16.0
pip==24.2
nvidia-cuda-runtime-cu12==12.4.99
omegaconf==2.3.0
pillow==10.4.0
transformers==4.44.2
mss==9.0.2
sympy==1.12
parso==0.8.4
sentry-sdk==2.14.0
ollama==0.3.3
stack-data==0.6.3
httpx==0.27.2
h11==0.14.0
fastapi==0.115.0
azure-storage-blob==12.23.1
debugpy==1.8.5
nvidia-nvjitlink-cu12==12.4.99
appdirs==1.4.4
pyrsistent==0.20.0
drf-generators==0.3.0
jsonschema==3.2.0
uvicorn==0.31.0
opentelemetry-api==1.27.0
mpmath==1.3.0
ipython==8.27.0
djangorestframework==3.13.1
safetensors==0.4.5
fonttools==4.53.1
pure_eval==0.2.3
hydra-core==1.3.2
starlette==0.38.6
rules==2.2
oauth2client==4.1.3
python-dateutil==2.9.0.post0
s3transfer==0.10.3
django-rq==2.5.1
google-auth-httplib2==0.2.0
matplotlib-inline==0.1.7
PyDrive==1.3.1
scikit-image==0.24.0
filterpy==1.4.5
smmap==5.0.1
grpcio-status==1.66.2
tomli==2.0.2
cycler==0.12.1
lvis==0.5.3
tensorboard-data-server==0.7.2
iopath==0.1.9
pyasn1==0.6.1
google-api-core==2.21.0
nvidia-cufft-cu12==11.2.0.44
mypy-extensions==1.0.0
botocore==1.35.73
docutils==0.16
nvidia-cuda-cupti-cu12==12.4.99
triton==3.0.0
urllib3==1.26.20
pybind11==2.13.6
matplotlib==3.9.2
jmespath==1.0.1
chardet==5.2.0
rq==1.10.1
torchaudio==2.4.1+cu124
annotated-types==0.7.0
filelock==3.13.1
google-cloud-core==2.4.1
uritemplate==4.1.1
google-cloud-audit-log==0.3.0
torchvision==0.19.1+cu124
nltk==3.9.1
opencv-python==4.10.0.84
lxml==5.3.0
detectron2==0.6
cajarename==21.11.24
html5lib==1.1
unattended-upgrades==0.1
sos==4.5.6
PyQt5-sip==12.9.1
youtube-dl==2021.12.17
more-itertools==8.10.0
requests-toolbelt==0.9.1
pyparsing==2.4.7
PyJWT==2.3.0
psutil==5.9.0
python-debian==0.1.43+ubuntu1.1
Markdown==3.3.6
pyinotify==0.9.6
deja-dup-caja==0.0.9
command-not-found==0.3
setproctitle==1.2.2
blinker==1.4
fail2ban==0.11.2
zipp==1.0.0
monotonic==1.6
cryptography==3.4.8
simplejson==3.17.6
python-xapp==2.2.1
pytz==2022.1
ufw==0.36.1
distro==1.7.0
mate-menu==22.4.1
mate-hud==22.4.4
folder-color-common==0.0.86
defer==1.0.6
keyring==23.5.0
Magnus==1.0.3
onboard==1.4.1
gpg==1.16.0
httplib2==0.20.2
urllib3==1.26.5
python-dateutil==2.8.1
dnspython==2.1.0
tornado==6.1
PyNaCl==1.5.0
duplicity==0.8.21
pymacaroons==0.13.0
fasteners==0.14.1
oauthlib==3.2.0
pyRFC3339==1.1
usb-creator==0.3.7
launchpadlib==1.10.16
olefile==0.46
Mako==1.1.3
pycryptodomex==3.11.0
mate-tweak==22.4.8
importlib-metadata==4.6.4
entrypoints==0.4
xdg==5
six==1.16.0
PyYAML==5.4.1
ubuntu-drivers-common==0.0.0
PyQt5==5.15.6
protobuf==3.12.4
ubuntu-pro-client==8001
requests==2.25.1
louis==3.20.0
folder-color-caja==0.0.86
pexpect==4.8.0
pulsemixer==1.5.1
ssh-import-id==5.11
pycairo==1.20.1
bcrypt==3.2.0
pycups==2.0.1
xkit==0.0.0
idna==3.3
asn1crypto==1.4.0
pyxattr==0.7.2
dell-recovery==0.0.0
colorama==0.4.4
pyxdg==0.27
language-selector==0.1
chardet==4.0.0
kazam==1.4.5
python-apt==2.4.0+ubuntu3
lazr.uri==1.0.6
click==8.0.3
netifaces==0.11.0
python-xlib==0.29
gyp==0.1
Pillow==9.0.1
progressbar==2.5
future==0.18.2
paramiko==2.9.3
lockfile==0.12.2
mechanize==0.4.7
webencodings==0.5.1
dbus-python==1.2.18
apturl==0.5.2
requests-unixsocket==0.2.0
lazr.restfulclient==0.14.4
systemd-python==234
Brlapi==0.8.3
screen-resolution-extra==0.0.0
ayatana-settings==21.1.28
certifi==2020.6.20
Pygments==2.11.2
ptyprocess==0.7.0
PyGObject==3.42.1
configobj==5.0.6
MarkupSafe==2.0.1
distro-info==1.1+ubuntu0.2
wadllib==1.3.6
cupshelpers==1.0
macaroonbakery==1.3.1
apt-xapian-index==0.49
python-magic==0.4.24
SecretStorage==3.3.1
jeepney==0.7.1
reportlab==3.6.8
pylibacl==0.6.0
fuse-python==1.0.2
platformdirs==4.2.2
jaraco.collections==5.1.0
more-itertools==10.3.0
packaging==24.1
importlib_resources==6.4.0
typing_extensions==4.12.2
zipp==3.19.2
jaraco.context==5.3.0
tomli==2.0.1
wheel==0.43.0
inflect==7.3.1
typeguard==4.3.0
importlib_metadata==8.0.0
backports.tarfile==1.2.0
jaraco.functools==4.0.1
autocommand==2.2.2
jaraco.text==3.12.1
